{% extends "base.html" %}
{% block title %}トップ - {{ super() }}{% endblock %}
{% block content %}

<table border="1">
    <tr>
      <th>分類</th> <th>CSVダウンロード</th> <th>詳細</th>
    </tr>
    {% for key, value in cat_url.items() %}
    <tr>
      <td>{{ key }}</td>
      <td>
        <form action="/download", method="get">
            <button type="submit" name="csv_name" value="{{ value }}">ダウンロード</button>
        </form>
      </td>
      <td>
        <a href="{{ url_for('detail') }}?csv_name={{ value }}" target="_blank">詳細</a>
      </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
